# Datasets
deepship_baseline_mat
deepship_baseline_detrended_mat
deepship_baseline_unnorm_mat

# Image segmentation
image_segmentation/narrowband_seg
image_segmentation/data/spectrograms
image_segmentation/data/PixelLabelData
image_segmentation/data/masks



