# Datasets
deepship_baseline_mat
deepship_baseline_detrended_mat
deepship_baseline_unnorm_mat
deepship_baseline_unnorm_multi
deepship_baseline_channel_normalised
deepship_baseline_global_normalised

# Image segmentation

# Matlab project 
image_segmentation/narrowband_seg
image_segmentation/data/gTruth.mat

image_segmentation/data/spectrograms
image_segmentation/data/PixelLabelData



